<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <title>portfolio</title>
</head>

<body>
    <div class="header">
        <a href="#" class="logo">Portfolio.</a>
        <div id="menu"><i class='bx bx-menu'></i></div>
        <div class="navbar">
            <a href="/" class="active">Home</a>
            <a href="/About">About</a>
            <a href="/Education">Education</a>
            <a href="/Skill">Skills</a>
            <a href="/Contact">Contact</a>
            <span class="active-nav"></span>
        </div>
    </div>
    <section class="home" id="home">
        <div class="home-content">
            <h2>Hello, It's Me <br>
                <h1>Md Gulam Sabir</h1>
            </h2>
            <div class="text-animate">
                <h3> And I'am a <span>Web Developer</span> </h3>
            </div>
            <p>Welcome to My Web Development Journey! <br>
                Hey there, I'm [Md gulam sabir], a passionate web developer hailing from [Jajpur, Odisha]. I thrive on
                crafting innovative and user-friendly websites that make a real impact. From turning ideas into
                beautiful code to creating seamless online experiences, I'm all about bringing digital visions to life.
            </p>

            <div class="btn-box">
                <a href=" # " class="btn">Hire Me</a>
                <a href="/images/MY RESUME.pdf"
                    class="btn">Resume</a>
            </div>
        </div>

        <div class="home-sci">
            <a href="https://www.facebook.com/mdghulam.sabir.7/"><i class="ri-facebook-fill"></i></a>
            <a href="https://twitter.com/Mdgulamsabir15"><i class="ri-twitter-fill"></i></a>
            <a href="https://www.linkedin.com/in/md-gulam-sabir-85766524b/"><i class="ri-linkedin-fill"></i></a>
            <a href="https://www.instagram.com/md_gulam_sabir/?hl=en"><i class="ri-instagram-fill"></i></a>
        </div>

        <div class="home-img">
            <img src="/images/IMG_20230702_204414-removebg-preview.png" alt="">
        </div>
    </section>


    <!-- About section design -->

    <section class="about" id="about">
        <div class="about-img">
            <img src="/images/IMG_20221110_030823_090-removebg-preview.png" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading"> About <span>Me</span></h2>
            <h3>Web Developer</h3>
           <p>A highly motivated and dedicated MERN stack developer with a strong <br> foundation in web development, seeking an entry-level position to apply my skills and knowledge in creating modern and efficient web applications. Eager to contribute to dynamic projects and gain hands-on experience in a collaborative environment.</p>
            <a href="#" class=" btn">Read More</a>
        </div>
    </section>

    <!-- Education section -->

    <scetion class="education" id="education">
        <h2 class="heading">My <span>Journey</span></h2>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>2019 - 2023</div>
                            <h3>Graduation - from RGPV University ,Bhopal</h3>
                            <p>Millennium Institute Of Technology And Science
                                <br>
                                Bachelor of Technology (Branch - CSE)
                            </p>

                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>2017 - 2019</div>
                            <h3>Intermediate (12th) from - Odisha Board</h3>
                            <p>Bijju Pattnaik College of Science and Education
                                <br> jaydev vihar, Bhubneshwar
                            </p>

                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>2016 - 2017</div>
                            <h3>Matric (10th) from- CBSE Board</h3>
                            <p>Glorious English Medium School
                                <br> Dala ,jajpur
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="education-column">
                <h3 class="title">Experience</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>2019 - 2023</div>
                            <h3>web development company</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque porro dolorem autem esse
                            </p>

                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>2019 - 2023</div>
                            <h3>web development company</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque porro dolorem autem esse
                            </p>

                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>2019 - 2023</div>
                            <h3>web development company</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque porro dolorem autem esse
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </scetion>

    <!-- Skill section design -->
    <section class="skills" id="skills">
        <h2 class="heading"> My <span>Skills</span></h2>
        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title"> Coding Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3> HTML <span>90%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                        <div class="progress">
                            <h3> CSS <span>85%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                        <div class="progress">
                            <h3> JavaScript <span>75%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                        <div class="progress">
                            <h3> Java <span>65%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills-column">
                <h3 class="title">Professional Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3> Web Design <span>70%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                        <div class="progress">
                            <h3> Web development <span>85%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                        <div class="progress">
                            <h3> Management Skills <span>70%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                        <div class="progress">
                            <h3> Leadership <span>75%</span></h3>
                            <div class="bar"> <span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contact selection design -->

    <section class="contact" id="contact">
        <h2 class="contact">Contact <span>Me!</span> </h2>
        <form action="/input" method="post">
            <div class="input-box">
                <div class="input-field">
                    <input name="name" type="text" placeholder="Full Name" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input name="email" type="email" placeholder="Email Address" required>
                    <span class="focus"></span>
                </div>

            </div>
            <div class="input-box">
                <div  class="input-field">
                    <input name="mobile_no" type="number" placeholder="Mobile Number" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input name="email_sub" type="text" placeholder="Email Subject" required>
                    <span class="focus"></span>
                </div>

            </div>
            <div class="textarea-field">
                <textarea  name="message" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <span class="focus"></span>
            </div>
            <div class="btn-box btns">
                <button class="btn" onclick="abc()">submit</button>
            </div>

        </form>

    </section>
    <script>
       function abc(){
alert(" Request has been sent successfully✅")
      }
    </script>
    <!-- footer design -->

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Md gulam sabir | All Rights Reserved.</p>
        </div>
        <div class="footer-iconTop">
            <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>

</body>

</html>